@charset "UTF-8";

.flex-button{
  display: flex;
  justify-content: center;
}

.button{
  border-radius: 10px;
  padding: 0 15px 0 15px;
  line-height: 50px;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
}

.flat-red{
  color: #fff;
  background:#fd0f0fd9 ;
}

.flat-blue{
  color: #fff;
  background: #170ffdd9;
}

.flat-green{
  color: #000;
  background: #0ffd0fd9;
}

.button:last-child{
  margin-right: 0;
}

.shadow-red{
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 5px 0 0 rgba(63,5,5,0.851);
}

.shadow-blue{
  color: #fff;
  background: #170ffdd9;
  box-shadow: 0 5px 0 0 rgba(5,13,63,0.851);
}

.shadow-green{
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 5px 0 0 rgba(5,63,5,0.851);
}
