@charset "UTF-8";

.picture{
  height: 500px;
}

.img{
  background: url(../../image/coffee-background.jpg);
}

.img-repeat{
  background: url(../../image/coffee-background.jpg)no-repeat;
}

.img-cover{
  background: url(../../image/coffee-background.jpg)no-repeat center/cover;
}

.img-contain{
  background: url(../../image/coffee-background.jpg)no-repeat center/contain;
}

