@charset "UTF-8";

.balloon2 {
  position: relative;
  display: inline-block;
  width: 500px;
  font-size: 16px;
  background: #fad296;
  border: solid 3px #815a0a;
  box-sizing: border-box;
  border-radius: 10px;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #fad296;
  z-index: 2;
}

.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #815a0a;
  z-index: 1;
}

.balloon2 p {
  margin: 0;
  padding: 20px;
}