@charset "UTF-8";

.balloon2 {
  position: relative;
  width: 500px;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  background: #fad296;
  border: solid 5px #815a0a;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 0 auto;
}

.balloon2:after,.balloon2:before{
  content: "";
  position: absolute;
  left: 10%;
  border: 20px solid transparent;
}

.balloon2:after {
  bottom: -45px;
  border-top: 20px solid #815a0a;
  z-index: 1;
}

.balloon2:before {
  bottom: -38px;
  border-top: 20px solid #fad296;
  z-index: 2;
}
